**Assingment Operators:**

In [ ]:
x = 12

# x += 4
# x = x + 4

x -= 4
x = x - 4

# x *= 4
# x = x * 4
 
# x /= 4
# x = x / 4

# x %= 4
# x = x % 4

# x //= 4
# x = x // 4

# x **= 4
# x = x ** 4

print(x)

4


**Identify Operators:**

In [ ]:
x = 5
y = 1

print('x < y is',x<y)

print('x > y is',x>y)

print('x -- y is',x--y)

print('x != y is',x!=y)

print('x +- y is',x+-y)

print('x <= y is',x<=y)

print('x >= y is',x>=y )

print('x == y is',x==y )

x < y is False
x > y is True
x -- y is 6
x != y is True
x +- y is 4
x <= y is False
x >= y is True
x == y is False


**Bitwise Operators:**

In [ ]:
x = 16

# x &= 4
# x = x & 4

# x |= 4
# x = x | 4

# x ^= 4
# x = x ^ 4

# x >>= 4
# x = x >> 4

x <<= 4
# x = x << 4
print(x)

256

**Comparison Operators:**

In [ ]:
# Shift operators

x = 9
y = 5

# print the bitwise right shift operators
print("x >> 1 =", x >> 1)
print("y >> 1 =", y >> 1)

x = 2
y = 3

# print bitwise left operators
print("x << 1 =", x << 1)
print("y << 1 =", y << 1)

x >> 1 = 4
y >> 1 = 2
x << 1 = 4
y << 1 = 6

**Mathematical Operators:**

In [ ]:
x = 8
y = 6

print("x-y=",x-y)

print("x+y",x+y)

print("x/y=",x/y)

print("x*y=",x*y)

print("x//y=",x//y)

print("x**y=",x**y)

x-y= 2
x+y 14
x/y= 1.3333333333333333
x*y= 48
x//y= 1
x**y= 262144

**Logical Operators:**

In [ ]:
m = True
n = False
print("m and n is",m and n)
print("m or n is",m or n)
print("not n is",not n)

m and n is False
m or n is True
not n is True

**Special Operators:**



**Identity Operators:**

In [ ]:
x1 = 2
y1 = 3
x2 = "Hi"
y2 = "Bye"
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)
print(x2 is not y2)
print(x3 is y3)

True
True
False

**Membership Operators:**

In [2]:
x ="Happy"
y ={8:"u",7:"s"}

print("m" in x)
print("Happy" in x)
print(8 in y)
print(5 not in y)

False
True
True
True